.customer-reviews {
  padding: 20px;
  .review-cards {
    .r-card {
      background-color: #ddd;
      button {
        padding: 12px;
        outline: none;
        border: none;
        background-color: rgb(199, 52, 52);
        color: #fff;
        border-radius: 20px;
      }
    }
  }
}
